.card {
    width: 94%;
}
.row {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .heading {
        font-size: large;
        font-weight: bold;
    }
}

.total, .distance {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.rating {
    margin-top: 20px;
    .ratingHeading {
        font-weight: bold;
        margin-left: 5px;
    }
    .options {
        display: flex;
        margin-top: 5px;
    }
}

.good:hover {
    background-color: greenyellow;
}

.good.active {
    background-color: greenyellow;
}

.moderate:hover {
    background-color: orange;
}

.moderate.active {
    background-color: orange;
}

.bad:hover {
    background-color: rgb(236, 88, 88);
}

.bad.active {
    background-color: rgb(236, 88, 88);
}

.result {
    font-weight: bold;
}

.delete {
    cursor: pointer;
    color: rgb(73, 71, 71);
}

.delete:hover {
    color: red;
}

::ng-deep .yearsField {
    width: 25%;
    .mat-form-field-flex {
        background-color: white;
    }
}

.refreshData {
    margin-left: -130px;
    height: 35px;
    width: 35px;
    mat-icon {
        font-size: 19px;
    }
}