.sideNavItemsContainer {
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    .navItem {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;
        .navItemText {
            font-size: 14px;
            font-weight: bold;
        }
        .navItemIcon {
            width: 32px;
            height: 32px;
        }
    }
    .navItem:hover {
        background-color: #070f3a62;
        cursor: pointer;
    }

}