.baseContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  .heading {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .filters {
    height: 60%;
    display: flex;
    padding: 15px;
    .filterCard {
      width: 50%;
      height: 187px;
      overflow: auto;
      &.chart {
        height: fit-content !important;
      }
      &.GOOD {
        background-color: rgb(186, 245, 97);
        overflow: hidden;
      }
      &.BAD {
        background-color: rgb(241, 128, 128);
        overflow: hidden;
      }
      &.MODERATE {
        background-color: rgb(252, 208, 127);
        overflow: hidden;
      }
      .filterCardHeading {
        font-size: 18px;
        font-weight: bold;
      }
      .filterCardContent {
        height: 99%;
      }
      .values {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
      }

      .chartDiv {
        margin-top: 20px;
      }
    }
  }
}

.tableContainer {
  padding: 15px;
  width: 98%;
}

.title {
  font-weight: 600;
  font-size: 20px;
  margin-top: 4px;
}

.solid {
  border-top: 3px solid #313131;
}

:host ::ng-deep .mat-divider {
  border: 0.5px solid;
  width: 99% !important;
}

.summaryCards {
  display: flex;
}

.section {
  display: flex;
  height: 98%;
  .sectiona {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-bottom: 20px;
    background: #fff7f754;
    margin-top: 15px;
    border-radius: 7%;
    line-height: 35px;
    font-weight: 100;
    mat-icon {
      font-size: 50px;
      height: 50px;
      width: 50px;
    }
  }
  .sectionb {
    flex: 2;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 300;
    justify-content: center;
    padding-bottom: 20px;
    padding-left: 20px;
    ul {
      text-align: start;
      line-height: normal;
      margin: 5px
    }
  }
}

.scards {
  width: 100%;
}

.mainHeading {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0px;
  .left {
    font-size: x-large;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    .editLocation:hover {
      color: royalblue;
      cursor: pointer;
    }
    .staticText {
      font-weight: 600;
    }
  }
}

.riskscore {
  display: flex;
  height: 350px;
  .score {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: xxx-large;
    padding: 15px;
    margin: 15px;
    background: rgb(158 158 158 / 15%);
    border-radius: 25px;
    mat-icon {
      height: 95px;
      width: 95px;
      font-size: 95px;
    }
    .scoreText {
      font-size: 15px;
      text-align: center;
      line-height: 20px;
      font-weight: 100;
    }
  }

  .chart {
    width: 60%;
    display: flex;
    align-items: center;
  }
}

.earthQuake {
  display: flex;
  height: 350px;
  .info {
    width: 20%;
    padding: 15px;
    margin: 15px;
    background: rgb(158 158 158 / 15%);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-weight: 100;
    text-align: center;
    .unit {
      display: flex;
      flex-direction: column;
      .unitheading {
        font-weight: bold;
      }
    }
  }

  .chart {
    width: 80%;
    display: flex;
    align-items: center;
  }
}

.sorrundingplaces {
  display: flex;
    flex-direction: column;

    .mat-form-field {
      width: 30%;
    }
}