<ngx-spinner></ngx-spinner>
<div fxFlex>
  <agm-map #AgmMap [latitude]="location.latitude" [longitude]="location.longitude" [zoom]="location.zoom">
    <agm-marker [latitude]="location.latitude" [longitude]="location.longitude"></agm-marker>
      <ng-container *ngFor="let placeTypeData of placesService.getPlacesData() | async">
        <ng-container *ngFor="let place of placeTypeData.data">
          <agm-marker [visible]="placeTypeData.placeType.isVisible" [iconUrl]="place.icon" [latitude]="place.latitude" [longitude]="place.longitude">
            <agm-snazzy-info-window [maxWidth]="200" [closeWhenOthersOpen]="true">
              <ng-template>
                {{place.name}}
              </ng-template>
            </agm-snazzy-info-window>
          </agm-marker>
        </ng-container>
      </ng-container>
  </agm-map>
</div>
