.full-width {
    width: 100%;
}

:host::ng-deep .mat-form-field-flex {
    border: grey 1px solid;
}

.placesTypes {
    display: flex;
    flex-wrap: wrap;
    .place {
        margin: 0px 30px 10px 0px;
    }
}