@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body {
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

  app-root {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  app-home, app-map, agm-map, app-filter,app-analysis,app-chart {
    height: 100%;
    width: 100%;
  }

  app-search {
    width: 50%;
    height: auto;
  }

  .full-width {
    width: 100%;
  }

  .mat-dialog-container {
    overflow: hidden !important;
  }